{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Cajas Dinamicas</h1>

            <form action="/generarCajas" method="POST">
                <label for="numero">Numero de Cajas</label>
                <input type="number" name="numero" id="numero" class="form-control" placeholder="Numero de Cajas">

                <button type="submit" class="btn btn-primary">Generar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}