{% extends "layout.html" %}

{% block content %}

<div class="container-form">
  <div class="col-xs-6">
    {% from "_macros.html" import render_input %}
    <h1>Cajas dinamicas</h1>
    <form action="/NumInputs" method="POST">
      <div class="control-group">
        <div class="controls">
          <input type="number" name="txtInput" , placeholder="número de inputs">
          <input type="submit" class="btn btn-default btn-success" value="SIGUIENTE">
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}